/* .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #1e6d5c;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    top: 50%;
    right: 50%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

.sk-circle {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    position: relative;
    top: 50%;
    /* right: 50%; */

}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #1e6d5c;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}



/* HEADER */


header {
    background-color: #F5F5F5;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    transition: height 0.3s;
}


.logo {
    width: 300px;
}

/*
header .logo img {
    width: 100px;
    margin: center;
    display: flex;
}

header.smaller {
    height: 350px;
}

header.smaller .logo img {
    width: 100px;
}

/* header.smaller h1#logo {
    width: 150px;
    line-height: 55px;
    font-size: 55px;
    margin: 0;
    height: 199px;
} */


/* *,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 100px;
} */

/* header nav {
    display: inline-block;
    float: right;
} */
/* 
header nav a {
    line-height: 150px;
    margin-left: 20px;
    color: #fcfcfc;
    font-weight: 300;
    font-size: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header.smaller {
    height: 100px;
}

header.smaller h1#logo {
    line-height: 75px;
    font-size: 30px;
}

header.smaller nav a {
    line-height: 100px;
}

 */


/* BODY */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgcongress {
    width: 550px;
}

body {
    background-color: #F5F5F5;
}

h2 {
    text-align: left;
    font-size: 30px;
}

.container {
    margin: auto;
    width: 95%;
    padding: 0%;
}

.divhome {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hometext {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #212529;

}

.hometext>p {
    text-indent: 40px;
    color: #212529;
}

.hometext2 {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #212529;
}

.hometext2>p {
    text-indent: 40px;
    color: #212529;
}

.text {
    width: 48%;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #212529;
}


.text>p {
    text-indent: 40px;
    color: #212529;
}

.home {
    width: AUTO;
}

.read {
    border: 1px;
    border-color: #212529;
    background-color: #212529;
    color: #F5F5F5;
    margin-bottom: 20px;

}

#more {
    display: none;
}

.error {
    text-align: center;
}


#state {
    width: 180px
}

.error>p {
    margin-top: 15px;
}


.check {
    display: flex;
    justify-content: space-between;

}

label {
    margin-right: 10px;
}


.party {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.party>div {
    display: flex;
    justify-content: space-between;
}


.state {
    width: 26%;
    display: flex;
    justify-content: space-between;
}

.table {
    width: 1140px;
    margin: auto;
    margin-bottom: 40px;
}

.table-align {
    text-align: center;
}

/* STADISTICS */

.div-top {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.glance {
    width: 100%;
    text-align: center;

}

.div-bottom {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}



.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.engaged {
    width: 100%;
}


.name {
    width: 208px;
}


/*FOOTER*/

a {
    text-decoration: none;
    color: #1e6d5c;
    font-weight: 300;
}

a:hover {
    color: black;
}