/* HEADER */

header {
    background-color: #F5F5F5;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    transition: height 0.3s;
}


.logo {
    width: 300px;
}

/*
header .logo img {
    width: 100px;
    margin: center;
    display: flex;
}

header.smaller {
    height: 350px;
}

header.smaller .logo img {
    width: 100px;
}

/* header.smaller h1#logo {
    width: 150px;
    line-height: 55px;
    font-size: 55px;
    margin: 0;
    height: 199px;
} */


/* *,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 100px;
} */

/* header nav {
    display: inline-block;
    float: right;
} */
/* 
header nav a {
    line-height: 150px;
    margin-left: 20px;
    color: #fcfcfc;
    font-weight: 300;
    font-size: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header.smaller {
    height: 100px;
}

header.smaller h1#logo {
    line-height: 75px;
    font-size: 30px;
}

header.smaller nav a {
    line-height: 100px;
}

 */


/* BODY */
body {
    background-color: #F5F5F5;
}

.container {
    margin: auto;
    width: 95%;
    padding: 0%;
}

.text {
    width: 48%;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #212529;
}

.text>p {
    text-indent: 40px;
    color: #212529;
}

.home {
    width: AUTO;
}

.read {
    border: 1px;
    border-color: #212529;
    background-color: #212529;
    color: #F5F5F5;
    margin-bottom: 20px;

}

#more {
    display: none;
}


.check {
    display: flex;
    justify-content: space-between;

}

.party {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.party>div {
    display: flex;
}


.state {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.table {
    width: 1140px;
    margin: auto;
    margin-bottom: 40px;
}

.table-align {
    text-align: center;
}

/* STADISTICS */

.div-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.glance {
    width: 100%;
    text-align: center;

}

.div-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.engaged {
    width: 100%;
}


/*FOOTER*/

a {
    text-decoration: none;
    color: #1e6d5c;
    font-weight: 300;
}

a:hover {
    color: black;
}